 /*只要是被 driver 高亮的元素，一律禁止点击内容*/
.driver-active, .driver-active-element{
  pointer-events: none !important;
}

 /*只要是被 driver 高亮的元素，一律禁止点击内容*/
/*.driver-active-element:after{*/
/*   content: '';*/
/*   width: 100%;*/
/*   height: 100%;*/
/*   position: absolute;*/
/*   top: 0; right: 0; bottom: 0; left: 0;*/
/*   margin: auto;*/
/*   background: rgba(255, 0, 0, 0.5);*/
/*   pointer-events: none !important;*/
/*   z-index: 999;*/
/* }*/

/* 确保引导按钮本身不受影响 */
.driver-popover, .driver-popover * {
  pointer-events: auto !important;
}



.driver-popover.driverjs-theme {
  background-color: #fde047;
  color: #000;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: #000;
}

.driver-popover.driverjs-theme button{
  flex: 1;
  width: 100%;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  text-shadow: none;
  /*font-size: 14px;*/
  padding: 5px 8px;
  border-radius: 6px;
}

.driver-popover.driverjs-theme .driver-popover-footer{
  gap: 6px;
}

.driver-popover.driverjs-theme button:hover {
  background-color: #000;
  color: #ffffff;
}

/*.driver-popover.driverjs-theme .driver-popover-btn-disabled {*/
/*  opacity: .5;*/
/*  pointer-events: none;*/
/*}*/

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 6px;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns .driver-popover-prev-btn,
.driver-popover.driverjs-theme .driver-popover-navigation-btns .driver-popover-next-btn {
  width: 100%;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
}
.driver-popover.driverjs-theme .driver-popover-navigation-btns .driver-popover-prev-btn:focus-visible,
.driver-popover.driverjs-theme .driver-popover-navigation-btns .driver-popover-next-btn:focus-visible {
  outline: unset;
}


/*.driver-popover.driverjs-theme .driver-popover-close-btn {*/
/*  color: #9b9b9b;*/
/*}*/

/*.driver-popover.driverjs-theme .driver-popover-close-btn:hover {*/
/*  color: #000;*/
/*}*/

/*.driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {*/
/*  border-left-color: #fde047;*/
/*}*/

/*.driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {*/
/*  border-right-color: #fde047;*/
/*}*/

/*.driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {*/
/*  border-top-color: #fde047;*/
/*}*/

/*.driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {*/
/*  border-bottom-color: #fde047;*/
/*}*/
